<!doctype html>
<html>
    <head>
        <title>Emoji Kitchen</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link href='http://fonts.googleapis.com/css?family=Poiret+One|Open+Sans:700,400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="full-size">
            <table cellpadding="0" cellspacing="0">
                <tr class="emojiSquared sticky-table-headers-top">
                    <th class="sticky-table-headers-left emojiSquared">
                        <img width="{{ size }}px" height="{{ size }}px" src="static/img/origin.png">
                    </th>
                    {% for emoji in combinations.keys() %}
                        <th class>
                            <img width="{{ size }}px" height="{{ size }}px" src="https://raw.githubusercontent.com/googlefonts/noto-emoji/main/svg/emoji_u{{ emoji.replace('-fe0f', '').replace('-' , '_') }}.svg" alt="{{ emoji }}" />
                        </th>
                    {% endfor %}
                </tr>
                {% for rowEmoji in combinations.keys() %}
                    <tr>
                        <td class="emojiSquared sticky-table-headers-left">
                            <img width="{{ size }}px" height="{{ size }}px" src="https://raw.githubusercontent.com/googlefonts/noto-emoji/main/svg/emoji_u{{ rowEmoji.replace('-fe0f', '').replace('-' , '_') }}.svg" alt="{{ rowEmoji }}" />
                        </td>
                        
                        {% for columnEmoji in combinations.keys() %}
                            <td class="{{ 'emojiSquared' if rowEmoji == columnEmoji else '' }}">
                                {% if columnEmoji not in combinations[rowEmoji] %}
                                    <img width="{{ size }}px" height="{{ size }}px" alt="" />  
                                {% else %}
                                    {% for left, right, date in [combinations[rowEmoji][columnEmoji]] %}
                                        <img width="{{ size }}px" height="{{ size }}px" src="https://www.gstatic.com/android/keyboard/emojikitchen/{{ date }}/u{{ left }}/u{{ left }}_u{{ right }}.png" loading="lazy" alt="u{{ left }}_u{{ right }}" />     
                                    {% endfor %}
                                {% endif %}
                            </td>
                        {% endfor %}
                     </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>
