a {
    color: hotpink;
  }
  a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: red;
  }
  p {
    color:  #d7540e;
  }
  body {
    background-color: blue;
  }
  img{
    width: 450px;
  }