body {
    background: #065A82;
  }
    p {
      color:  #02aefe;
    }
    h1 {
      font-weight: bold;
    }
    h2 {
      font-weight: bold;
    }
    a:link, a:visited {
      background-color:  rgb(101, 90, 255);
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }
    
    a:hover, a:active {
      background-color: rgb(89, 252, 255);
    }
  