body {
  background: #065A82;
}
  p {
    color:  #02aefe;
  }
  h1 {
    font-weight: bold;
  }
  h2 {
    font-weight: bold;
  }
  a {
    color: hotpink;
  }
  a:link, a:visited {
    background-color:  rgb(85, 255, 2);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgb(85, 255, 0);
  }
