body {
  background: #065A82;
}
  p {
    color:  #02aefe;
  }
  h1 {
    font-weight: bold;
  }
  h2 {
    font-weight: bold;
  }
  a {
    color: hotpink;
  }
  a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: red;
  }
img{
  border-color: rgb(54, 131, 255);
  border-width: 4px;
  border-style: solid;
  border-radius: 4px;
}
