body {
    background: #dd0909;
  }
    p {
      color:  #feed02;
    }
    h1 {
      font-weight: bold;
    }
    h2 {
      font-weight: bold;
    }
    a {
        border-radius: 25px;
        border: 2px solid #73AD21;
        padding: 20px;
        width: 100px;
        height: 50px;
        color: hotpink;
      }
      a:link, a:visited {
          border-radius: 25px;
          border: 2px solid #73AD21;
          padding: 20px;
          width: 100px;
          height: 50px;
        background-color:  rgb(10, 131, 18);
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
      
      a:hover, a:active {
          border-radius: 25px;
          border: 2px solid #73AD21;
          padding: 20px;
          width: 100px;
          height: 50px;
        background-color: rgb(106, 255, 89);
      }
      il{
color: #17dd09;

      }
      .notaddingsoon{
        color: #ff3d3d;
      }

      input{
        background-color:rgb(10, 131, 18);
        color: #ffffff ;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
      input:hover input:active{
        background-color: rgb(106, 255, 89);
      }
      input:link, input:visited {
        background-color:  rgb(29, 206, 41);
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
      .rop{
        color: aqua;
      }