body {
  align-items: center;
  background: #3692ff;
  box-sizing: border-box;
  color: #001e51;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: 'Slackey', sans-serif;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  padding: 100px;
}

div {
  font-size: 10vw;
  line-height: 1;
}

div > span {
  display: inline-block;
  overflow: hidden;
  transition-duration: 0.2s;
  transition-property: transform;
}

div > span span {
  display: inline-block;
  transition-duration: 0.5s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}

div > span:nth-child(odd) {
  transform: translateY(50%);
}

div > span:nth-child(odd) span {
  transform: translateY(-100%);
}

div > span:nth-child(even) {
  transform: translateY(-50%);
}

div > span:nth-child(even) span {
  transform: translateY(100%);
}

div.loaded  > span {
  transform: translateY(0);
}

div.loaded > span span {
  transform: translateY(0);
}