body{
    --coler-primary: #009579;
    --coler-primary-dark: #007f67;
    --coler-secondary: #252c6a;
    --coler-error: #cc3333;
    --coler-success: #4bb544;
    --border-radius: 4px;

    margin:0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 18px;
    background: url(./logo\ \(1\).png);
    background-size: 50px;
}