body {
    background: #4807aa;
  }
    p {
      color:  #02aefe;
      text-shadow: #065A82;
    }
    h1 {
      font-weight: bold;
    }
    h2 {
      font-weight: bold;
    }
    a {
      color: hotpink;
    }
    a:link, a:visited {
      background-color:  rgb(101, 90, 255);
      color: white;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }
    
    a:hover, a:active {
      background-color: rgb(89, 252, 255);
    }
    .miles{
color: rgb(255, 255, 0);
text-align: center;
text-shadow: #065A82;
    }