body {
    background: #065A82;
  }
  p {
    color: #E0FBFC;
  }
  h1 {
    font-weight: bold;
  }
  a {
    color: hotpink;
  }
  /* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}